{% extends 'base.html' %}
{% load i18n %}

{% block content %}

    <h1>
        {% trans 'Mon compte' %}
    </h1>

    <ul>
        <li>
            <span>{% trans 'Nom' %}</span>:
            {% if user.get_full_name %}
                {{ user.get_full_name }}
            {% else %}
                <strong>{% trans 'Veuillez renseigner votre nom' %}</strong>
            {% endif %}
        </li>
        <li>
            <span>{% trans 'Email' %}</span>: {{ user.email }}
        </li>
        <li>
            <span>{% trans 'Groupe' %}</span>:
            {% if user.group %}
                {{ user.group.name }}
            {% else %}
                {% trans 'Aucun' %}
            {% endif %}
        </li>
    </ul>

    <a class="btn btn-default" href="{% url 'edit_current_user' %}" role="button">
        {% trans 'Modifier mon compte' %}
    </a>

    <a class="btn btn-default" href="{% url 'create_group' %}" role="button">
        {% trans 'Créer un nouveau groupe' %}
    </a>

{% endblock %}
