{% load i18n %}

<nav class="navbar navbar-default">
    <div class="container-fluid">
      <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
        <span class="sr-only">{% trans 'Ouvrir le menu' %}</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="/">{% trans 'Meal booking' %}</a>
    </div>
    <div id="navbar" class="navbar-collapse collapse">
      <ul class="nav navbar-nav">
        {% if user.is_authenticated %}
            {% if request.user.is_superuser %}
                <li><a href="{% url 'admin:index' %}">{% trans "Administration" %}</a></li>
            {% endif %}
            <li><a href="{% url 'home' %}">{% trans "Mon compte" %}</a></li>
            <li><a href="{% url 'reservations' %}">{% trans "Réservations" %}</a></li>
            <li><a href="{% url 'menu_list' %}">{% trans "Menus" %}</a></li>
            <li><a href="{% url 'account_email' %}">{% trans "Changer d'email" %}</a></li>
            <li><a href="{% url 'contact' %}">{% trans "Contact" %}</a></li>
            <li><a href="{% url 'account_logout' %}">{% trans "Se déconnecter" %}</a></li>
        {% else %}
            <li><a href="{% url 'account_login' %}">{% trans "S'identifier" %}</a></li>
            <li><a href="{% url 'account_signup' %}">{% trans "S'inscrire" %}</a></li>
        {% endif %}
      </ul>
    </div><!--/.nav-collapse -->
  </div>
</nav>
<div style="clear: both;"></div>
