{% extends 'base.html' %}
{% load i18n %}
{% load meal_extras %}

{% block content %}

    <h1>{% trans 'Mes réservations' %}</h1>

    <form action="" method="post" enctype="multipart/form-data">
        {% csrf_token %}

        {% include "include/form.html" with form=form field_template='include/reservations_field.html' %}

        <button type="submit" class="btn btn-success">
            {% trans "Réserver ces nouvelles dates" %}
        </button>
    </form>

    <h2>{% trans 'Réservations effectuées' %}</h2>

    <table class="table table-bordered">
        <thead>
        <tr>
            <th></th>
            <th>{% trans 'Status' %}</th>
        </tr>
        </thead>
        <tbody>
        {% if not reservations %}
            <tr>
                <td colspan="3">{% trans 'Aucune réservation pour le moment' %}</td>
            </tr>
        {% else %}
            {% for reservation in reservations %}
                <tr>
                    <th scope="row">{{ reservation.day.date }}</th>
                    <td>{{ reservation.state_str }}</td>
                </tr>
            {% endfor %}
        {% endif %}
        </tbody>
    </table>

    {% if reservations|contains_waiting_payments %}
        <p>
            Des réservations sont en attente de paiement, pour les valider veuillez
            vous rendre sur la
            <a href="{% url 'pay' %}">page de paiement</a>.
        </p>
    {% endif %}

{% endblock %}